:root {
  --main-bg-color: #0B0C10;
  --main-body-color: rgb(40, 47, 78);
  --main-menu-color: #1F2833;
  --main-border-color: #45A29E;
  --main-title-color: #66FCF1;
  --main-text-color: #C5C6C7;
  --inner-border-color: #1F2833;
  --inner-title-color: rgb(31, 117, 113);
  --inner-title-text-color:  #C5C6C7;
  --inner-menu-color: #45A29E;
  --inner-menu-text-color: #0B0C10;
}

.App {
  font-family: Arial, Helvetica, sans-serif;
}

.App-main {
  background-color: #FFFFFF;
  height: 100vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

.App-container {
  background-color: var(--main-body-color);
  min-height: 100vh;
}

.App-header {
  background-image: url("/images/paintsplash.png");
  background-color: var(--main-bg-color);
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--main-title-color);
}

.App-link {
  color: #61dafb;
}



.navbar-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  background-color: #2196F3;
  padding: 2px;
}

.navbar-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: calc(10px + 1vmin);
  text-align: center;
}

.navbar-item:hover {
  background-color: rgba(41, 115, 252, 0.753);
}

.ViewController-container {
  padding: 15px;
}

.View-primary {
  background-color: #c2d7ff;
  border: #282c34;
  border-radius: 10px;
  border-width: 1px;
  min-height: 50vh;
  padding: calc(10px + 2vw);
}

.LoginController-container {
  padding: calc(10px + 5vw);
  display: grid;
  grid-template-columns: auto;
}

.LoginController-container-item{
  min-height: 10vh;
}

.Standardcard-border {
  min-height: 15vh;
  padding: calc(10px + 2vw);
}

.Standardcard-window {
  background-color: var(--main-menu-color);
  border: var(--main-border-color);
  color:var(--main-text-color);
  border-width: 2px;
  padding: calc(10px + 2vw);
}


